<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" 
[fullScreen] = "true"><p style="color: white"> Loading... </ngx-spinner>


<div style="text-align: center;">
    {{totalrequest}}
</div>
<br>

<div  fxLayout="row wrap"  fxLayoutAlign="space-evenly center" 
     fxLayout.lt-lg="column">

        
        <div class="card border border-success shadow-0" fxFlex="30" style="width: 90%;margin: 5px;" 
        *ngFor="let request of requests" >
            
            <div class="card-header bg-transparent border-success text-center">
                Pray for {{request._for}}
            </div>

            <div class="card-body text-center text-success">
              <p class="card-text">{{request.description}}</p>
              
              <p style="float: right;margin-bottom: -10px;">
                <span style="font-size: 10px;">Requested by: </span><span style="font-size: 12px;">{{request.by}}</span> </p>
            </div>

          </div>      
      

</div>


<!-- fxFlex="30" style="width: 90%;" -->